<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="javascripts/jquery-3.5.1.js" charset="utf-8"></script>
    <script src="javascripts/script.js" charset="utf-8"></script>
    <title>Промо</title>
    <style media="screen">

    </style>
    <script type="text/javascript">
  $(document).ready(function(){
    $(".krest1").click(function(){
      $(this).addClass("hidden");
      $(".lozh1").addClass("hidden");
    });
    $(".krest2").click(function(){
      $(this).addClass("hidden");
      $(".lozh2").addClass("hidden");
    });
    $(".krest3").click(function(){
      $(this).addClass("hidden");
      $(".lozh3").addClass("hidden");
    });
    $(".krest4").click(function(){
      $(this).addClass("hidden");
      $(".lozh4").addClass("hidden");
    });
    $(".krest5").click(function(){
      $(this).addClass("hidden");
      $(".lozh5").addClass("hidden");
    });
  });
</script>

  </head>
  <body>
    <div class="section1">
      <div id="grid_section1" class="">
        <div class="section1_p1">квазоид</div>
        <div class="section1_p2"><a href="/promo/index">промо</a></div>
        <div class="section1_p3"><a href="/about/index">о нас</a></div>
        <div class="section1_p4"><%= link_to "посты", posts_path %></div>
      </div>
    </div>

    <div class="section2">
      <div class="section2_p1"></div>
      <div class="s2">
        <div class="section2_img1"></div>
        <div class="section2_p2">следят за нами</div>
      </div>
    </div>

    <div class="section3">
      <div class="section3_p1">они рассказывают сказки</div>
      <div class="null"></div>
    </div>

    <div class="section4">
      <div class="section4_p1">но ты не веришь в их сладкую ложь</div>
    </div>

    <div class="section5">
      <div class="section5_p1">они называют тебя безумцем</div>
      <div class="section5_img1"></div>
    </div>

    <div class="section6">
    <div class="setka1">
      <div id="grid_section6">
        <div class="text1">
          <div class="text1_p1">они опоили дурманом весь мир</div>
        </div>
        <div class="img1"></div>
        <div class="img2"></div>
        <div class="text2">
          <div class="text1_p1">и ты остался один...</div>
        </div>
      </div>
    </div>
    </div>

    <div class="section7">
      <div class="section7_p1">или нет?</div>
    </div>

    <div class="section8">
      <div class="section8_p1">у тебя есть квазоид</div>
        <div class="section8_p2">Это медиа-сервис, где ты можешь общаться, делиться новостями, обсуждать теории и спорить. Это больше, чем социальная сеть, это тайное контробщество по борьбе с мировыми заговорами, объединяющее энтузиастов-исследователей, решившихся на прыжок в кроличью нору.</div>
    </div>

    <div class="section9">
        <div class="block1">
          <div class="block_p1">манифест</div>
        </div>
        <div class="block2">
          <div class="block_p2">Читающим наше Квазоидное Истинное Слово.
          <br>Только мы — лицо нашего Времени. Только мы — борцы за свободу. Только мы не преминем добраться до сути вещей. Ни мировое правительство, ни бесчестные заговорщики не встанут у нас на пути. Мы дадим им отпор, выудим из недр их архивов засекреченные файлы, обнажим реальность, явим её миру такой, какая она есть на самом деле.
          <br>Вымойте ваши руки, прикасавшиеся к грязной слизи официальных источников.
          <br>Мы приказываем чтить права исследователей непознанного, сокрытого. Вступив в наше тайное контробщество, вы обретёте:
          <br>1. Братство любителей заговорщического и конспирологического.
          <br>2. Горячие споры на пути к Истине.
          <br>3. Гипертекстовые доски событий.
          <br>4. Вклад в рассследование мирового масштаба.
          <br>Отбросьте грязные клейма заговорщиков: «конспиролог», «безумец», «мракобес». Да здравствует квазоид!
          <br><br>
          Безымянные сиблинги тайного контробщества
          <br>Москва, 2021. Октябрь</div>
        </div>
        <div class="knopka1">
          <div class="knopka1_p">email</div>
        </div>
        <div class="knopka2">
          <div class="knopka2_p">подписаться</div>
        </div>
    </div>

    <div class="section1">
      <div id="grid_section1" class="">
        <div class="section1_p1">квазоид</div>
        <div class="section1_p2"><a href="/promo/index">промо</a></div>
        <div class="section1_p3"><a href="/about/index">о нас</a></div>
        <div class="section1_p4"><%= link_to "посты", posts_path %></div>
      </div>
    </div>

    <div class="lozh1">
      <div class="krest1"></div>
    </div>
    <div class="lozh4">
      <div class="krest4"></div>
    </div>
    <div class="lozh2">
      <div class="krest2"></div>
    </div>
    <div class="lozh5">
      <div class="krest5"></div>
    </div>
    <div class="lozh3">
      <div class="krest3"></div>
    </div>
  </body>
</html>
