<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style media="screen">



    </style>
  </head>
  <body>
    <div class="sectionabout1">
      <div id="grid_sectionabout1" class="">
        <div class="sectionabout1_p1">квазоид</div>
        <div class="sectionabout1_p2"><a href="/promo/index">промо</a></div>
        <div class="sectionabout1_p3"><a href="/about/index">о нас</a></div>
        <div class="sectionabout1_p4"><%= link_to "посты", posts_path %></div>
      </div>
    </div>

    <div class="sectionabout2">
      <div class="sectionabout2_p1"></div>
        <div class="sectionabout2_p2">пространство <br> для конспирологов</div>
      </div>

      <div class="sectionabout3">
        <div class="sectionabout3_p1">что такое квазоид?</div>
        <div class="sectionabout3_p2">Квазоид – место, где конспирологи могут <br>общаться, делиться новостями, обсуждать теории <br>и спорить. Это больше, чем медиа-сервис, это <br>тайное контробщество по борьбе с мировыми <br>заговорами, объединяющее энтузиастов-<br>исследователей, решившихся на прыжок <br>в кроличью нору.</div>
      </div>

      <div class="sectionabout4">
       <div class="sectionabout4_block1">
         <div class="block1_p1">Исследование целевой аудитории</div>
         <div class="block1_p2">Опросив целевую аудиторию, мы выяснили, что большая часть людей любит читать про конспирологические теории, хотя и не верит в них, и редко, но все-таки спорит на подобные темы. Молодым людям нравится обсуждать конспирологию, но до сих пор у них не было площадки, где они могли бы это делать.</div>
      </div>
      </div>

      <div class="sectionabout5">
        <div class="sectionabout5_p1">В чём особенность Квазоида?</div>
        <div class="sectionabout5_p2">Медиа-сервис пародирует тайную организацию.
В нём есть иллюзия иерархии участников
(от неофитов до просветлённых) и разноуровнего доступа к информации.
</div>
        <div class="sectionabout5_p2">Например, новичок не может видеть, о чём беседуют пользователи более высокого уровня, для него сообщения находятся под условным грифом “секретно”.</div>
        <div class="sectionabout5_p2">В интерфейсе заложены пасхалки, в случайном порядке пользователи получают дополнительные функции: чат со сверхразумом, стикеры-подсказки, способность видеть то,
чего не видят другие пользователи: засекреченные страницы
медиа-сервиса, знаки и послания. А процесс регистрации - ритуальное таинство.</div>
      </div>

      <div class="sectionabout6">
        <div class="sectionabout6_p1">Проблемы</div>
        <div class="sectionabout6_img1"></div>
        <div class="sectionabout6_p2">За всеми глобальными негативными процессами стоит <br>кто-то всесильный и могущественный, которому выгодно <br>портить жизнь другим людям (у них есть план по сокращению <br>населения, порабощению, зомбированию и т.д.)</div>
        <div class="sectionabout6_img2"></div>
        <div class="sectionabout6_p2">Следовательно, кругом все лгут и покрывают друг друга: <br>заговоры фармацевтических компаний, заговоры корпораций, <br>правительств, учёных. Они промыли нам мозги, скрыв истину <br>под тонной ходульных сложных объяснений, <br>чтобы одурачить нас, управлять нами</div>
        <div class="sectionabout6_img3"></div>
        <div class="sectionabout6_p2">Но что я могу противопоставить сильным мира сего? <br>Кто я, а кто они? Конспирология перекладывает <br>ответственность на плечи неуловимого врага.
</div>
      </div>

      <div class="sectionabout7">
        <div class="sectionabout7_p1">Решения, которые предлагает Квазоид</div>
        <div class="sectionabout7_block1" id="grid_sectionabout7">
          <div class="bp1">1</div>
          <div class="bp2">Присоединиться к тайной <br>контрорганизации повстанцев, <br>ведущих борьбу с мировыми <br>заговорами под прикрытием <br>нарочитого постмодернизма</div>
          <div class="bp1">2</div>
          <div class="bp2">Почувствовать себя <br>исследователем, детективом, <br>охотником на монстров</div>
          <div class="bp1">3</div>
          <div class="bp2">Стать частью большой <br>разношёрстной семьи. </div>
          <div class="bp1">4</div>
          <div class="bp2">Осознать себя избранным.</div>
        </div>
      </div>

      <div class="sectionabout8">
        <div class="sectionabout8_p1">Пользователи квазоида, <br>кто они?</div>
        <div class="sectionabout8_p2">Конечно, не считая рептилоидов, которые следят за человечеством, чтобы те не раскрыли их тайну.</div>
        <div class="sectionabout8_img1">
        </div>
      </div>
        <div class="sectionabout9">
          <div class="sectionabout9_p1">Функции, <br>доступные пользователям</div>
            <div class="sectionabout9_block1">
              <div class="sectionabout9_p2">Пост</div>
              <div class="sectionabout9_p2">Комментарий</div>
              <div class="sectionabout9_p2">Лайк</div>
              <div class="sectionabout9_p2">ПАЛ (пассивно-агрессивный лайк)</div>
            </div>
        </div>
        <div class="sectionabout1">
          <div id="grid_sectionabout1" class="">
            <div class="sectionabout1_p1">квазоид</div>
            <div class="sectionabout1_p2"><a href="/promo/index">промо</a></div>
            <div class="sectionabout1_p3"><a href="/about/index">о нас</a></div>
            <div class="sectionabout1_p4"><%= link_to "посты", posts_path %></div>
          </div>
        </div>
</html>
