@font-face {
    font-family: 'Gosha Regular';
    src: url("GoshaR.woff") format('woff');
   }
   @font-face {
    font-family: 'Gosha Ultralight';
    src: url("GoshaU.woff") format('woff');
   }
     .sectionabout1 {
       position: relative;
       margin: 0px;
       background-color: #1B1D1A;
       height: 85px;
       width: 100%;
     }
     #grid_sectionabout1 {
       display: grid;
       grid-template-columns: 62% 1fr 1fr 1fr;
       grid-template-rows: 85px;
       grid-gap: 52px;
       margin-left: 60px;
       margin-right: 60px;
       margin-top: 0px;
       margin-bottom: 0px
     }
     #grid > div {
       padding: 0px;
       /* background: gold; */
       text-align: left;
     }
     .sectionabout2 {
       position: relative;
       display: flex;
       flex-direction: column;
       margin: 0px;
       background-color: #292929;
       height: 897px;
       width: 100%;
     }
     .sectionabout3 {
       position: relative;
       margin: 0px;
       background-color: #D82C2C;
       background-images: url('img2/setka1.svg');
       height: 897px;
       width: 100%;
     }
     .sectionabout4 {
       position: relative;
       display: flex;
       align-items: center;
       margin: 0px;
       background-color: #292929;
       height: 897px;
       width: 100%;
       display: flex;
       /* vertical-align: center; */
       align-items: center;
       justify-content: center;
     }
     .sectionabout5 {
       position: relative;
       display: flex;
       margin: 0px;
       background-color: #292929;
       height: 940px;
       width: 100%;
       flex-direction: column;
     }
     .sectionabout6 {
       position: relative;
       margin: 0px;
       background-color: #292929;
       height: 1739px;
       width: 100%;
       background-image: url('img2/setka2.svg');

     }
     .sectionabout7 {
       position: relative;
       margin: 0px;
       background-color: #D82C2C;
       height: 1720px;
       width: 100%;
       display: flex;
       flex-direction: column;
       align-self: center;
     }
     .sectionabout8 {
       position: relative;
       display: flex;
       margin: 0px;
       background-color: #292929;
       height: 1992px;
       width: 100%;
       flex-direction: column;
     }
     .sectionabout9 {
       position: relative;
       margin: 0px;
       background-color: #D82C2C;
       height: 880px;
       width: 100%;
       background-image: url('img2/setka3.svg');
       display: flex;
       vertical-align: center;
       align-items: center;
       justify-content: center;
       flex-direction: column;
     }
     .sectionabout1_p1 {
       font-family: Gosha Regular;
       font-size: 48px;
       margin-top: 15px;
       color: #D82C2C;
     }
     .sectionabout1_p2 {
       font-family: Gosha Ultralight;
       font-size: 36px;
       margin-top: 21px;

       a {
         color: #D82C2C;


       }
     }
     .sectionabout1_p3 {
       font-family: Gosha Regular;
       font-size: 36px;
       margin-top: 21px;

       a {
         color: #D82C2C;
       }
     }
     .sectionabout1_p4 {
       font-family: Gosha Ultralight;
       font-size: 36px;
       margin-top: 21px;

       a {
         color: #D82C2C;
       }
     }
     .sectionabout2_p1 {
       position: relative;
       background: url('img2/kva.svg');
       margin-top: 72px;
       margin-left: 60px;
       width: 1320px;
       height: 299px;
       /* background-size: contain; */
       background-repeat: no-repeat;
     }
     .sectionabout2_p2 {
       position: relative;
       display: flex;
       font-family: Gosha Regular;
       line-height: 1.05;
       /* margin-left: 31px; */
       margin-top: 0px;
       margin-left: 60px;
       font-size: 142px;
       color: #D82C2C;
     }
     .sectionabout3_p1 {
       position: relative;
       display: block;
       font-size: 140px;
       font-family: Gosha Regular;
       line-height: 1.05;
       margin-left: 60px;
       top: 101px;
       color: #292929;
     }
   .sectionabout3_p2 {
     position: relative;
     display: block;
     /* width: 556px; */
     font-size: 52.5px;
     font-family: Gosha Regular;
     line-height: 1.004;
     margin-left: 60px;
     margin-top: 160px;
     color: #292929;
   }
   .sectionabout4_block1 {
     position: relative;
     background-image: url('img2/block1.svg');
     width: 1281px;
     height: 621px;
     display: flex;
     flex-direction: column;
     /* vertical-align: center; */
     /* align-items: center;
     justify-content: center; */
   }
   .block1_p1 {
     font-family: Gosha Regular;
     line-height: 1.05;
     font-size: 70px;
     margin: 60px;
     width: 1148px;
     color: #292929;

   }
   .block1_p2 {
     font-family: Gosha Regular;
     line-height: 1.004;
     font-size: 40px;
     margin-left: 60px;
     width: 1161px;
     color: #292929;
   }
     .sectionabout5_p1 {
       position: relative;
       display: flex;
       font-family: Gosha Regular;
       font-size: 85px;
       margin-left: 60px;
       width: 1319px;
       color: #C4C4C4;
     }
     .sectionabout5_p2 {
       position: relative;
       display: flex;
       font-family: Gosha Ultralight;
       line-height: 1.004;
       font-size: 40px;
       margin-left: 60px;
       margin-top: 60px;
       width: 1157px;
       color: #C4C4C4;
     }
     .sectionabout6_p1 {
       position: relative;
       display: flex;
       font-family: Gosha Regular;
       font-size: 144px;
       color: #C4C4C4;
       margin-left: 60px;
       top: 60px;
     }
     .sectionabout6_img1 {
       background: url('img2/s6i1.svg');
       position: relative;
       display: flex;
       margin-left: 60px;
       margin-top: 200px;
       width: 189px;
       height: 107px;
       background-repeat: no-repeat;
     }
     .sectionabout6_img2 {
       background: url('img2/s6i2.svg');
       position: relative;
       display: flex;
       margin-left: 60px;
       margin-top: 90px;
       width: 93px;
       height: 158px;
       background-repeat: no-repeat;
     }
     .sectionabout6_img3 {
       background: url('img2/s6i3.svg');
       position: relative;
       display: flex;
       margin-left: 60px;
       margin-top: 90px;
       width: 174px;
       height: 173px;
       background-repeat: no-repeat;
     }
     .sectionabout6_p2 {
       position: relative;
       display: flex;
       font-family: Gosha Ultralight;
       line-height: 1.004;
       font-size: 40px;
       width: 1281;
       color: #C4C4C4;
       margin-left: 60px;
       margin-top: 50px;
     }

     .sectionabout7_p1 {
       position: relative;
       display: flex;
       font-family: Gosha Regular;
       line-height: 1.05;
       font-size: 134px;
       color: #292929;
       margin-left: 60px;
       margin-top: 60px;
     }
     .sectionabout7_block1 {
       position: relative;
       background-image: url('img2/block2.svg');
       width: 981px;
       height: 1194px;
       /* margin-left: 227px; */
       display: flex;
       align-self: center;
     }
     #grid_sectionabout7 {
       display: grid;
       grid-template-columns: 253px 728px;
       grid-template-rows: 351px 265px 235px 150px;
       grid-gap: 0px;
       margin-left: 227px;
       margin-right: 227px;
       margin-top: 60px;
       margin-bottom: 0px
     }
     #grid > div {
       padding: 0px;
       /* background: gold; */
       text-align: left;
     }
     .bp1 {
       font-size: 144px;
       font-family: Gosha Regular;
       color: #292929;
       margin-left: 122px;
       margin-top: 150px;
     }
     .bp2 {
       font-size: 40px;
       font-family: Gosha Ultralight;
       line-height: 1.004;
       color: #292929;
       margin-left: 0px;
       margin-top: 110px;
     }
     .sectionabout8_p1 {
       position: relative;
       display: flex;
       font-family: Gosha Regular;
       line-height: 1.05;
       font-size: 98px;
       margin-top: 70px;
       margin-left: 60px;
       color: #C4C4C4;
     }
     .sectionabout8_p2 {
       position: relative;
       display: flex;
       font-family: Gosha Ultralight;
       line-height: 1.004;
       font-size: 36px;
       margin-top: 40px;
       width: 682px;
       color: #C4C4C4;
       margin-left: 60px
     }
     .sectionabout8_img1 {
       position: relative;
       display: flex;
       background: url('img2/s8i2.png');
       margin-top: 109px;
       width: 1173px;
       height: 1223.5px;
       margin-left: 132px;
       align-self: center;
     }
     .sectionabout9_p1 {
       position: relative;
       display: flex;
       font-family: Gosha Regular;
       line-height: 1.05;
       font-size: 98px;
       margin-top: 0px;
       margin-left: 60px;
       color: #292929;
     }
     .sectionabout9_block1 {
       position: relative;
       background-image: url('img2/block3.svg');
       width: 55.97%;
       height: 460px;
       margin-left: 22.015;
       margin-top: 60px;
       display: flex;
       flex-direction: column;
     }
     .sectionabout9_p2 {
       position: relative;
       display: flex;
       font-family: Gosha Regular;
       font-size: 40px;
       margin-top: 55px;
       margin-left: 81px;
       color: #292929;
     }
